@font-face {
  font-family: "iconfont"; /* Project id 3563789 */
  src: url('iconfont.woff2') format('woff2'),
       url('iconfont.woff') format('woff'),
       url('iconfont.ttf') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-ic_radio:before {
  content: "\e874";
}

.icon-ico_opt_delete-01:before {
  content: "\e67b";
}

.icon-opt_solid_success:before {
  content: "\e6e2";
}

.icon-ic_right:before {
  content: "\e872";
}

.icon-ic_left:before {
  content: "\e873";
}

.icon-ic_add1:before {
  content: "\e870";
}

.icon-ic_more:before {
  content: "\e871";
}

.icon-ic_notice:before {
  content: "\e86d";
}

.icon-ic_tag:before {
  content: "\e86e";
}

.icon-ic_notice2:before {
  content: "\e86f";
}

.icon-ico_opt_plus-01:before {
  content: "\e698";
}

.icon-ico_opt_search-01:before {
  content: "\e68e";
}

.icon-ico_doc_solid_folder_add:before {
  content: "\e6f3";
}

.icon-opt_solid_edit02:before {
  content: "\e6ce";
}

.icon-opt_solid_copy:before {
  content: "\e6d5";
}

.icon-ic_return:before {
  content: "\e86c";
}

.icon-ic_table:before {
  content: "\e86a";
}

.icon-ic_list:before {
  content: "\e86b";
}

.icon-ico_opt_edit01:before {
  content: "\e67c";
}

.icon-ico_opt_upload-01:before {
  content: "\e691";
}

.icon-ico_opt_stamp:before {
  content: "\e6b8";
}

.icon-ico_log_look:before {
  content: "\e66c";
}

.icon-opt_solid_file:before {
  content: "\e6db";
}

.icon-opt_solid_error:before {
  content: "\e6e9";
}

